<div class="intro column is-8 is-offset-2 is-block" id="contact">
    <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSfXMlrK2VlDjolgDoeRI9BSxRz5I4K4eRH47nQvwYQ0fcgN2A/viewform?embedded=true"
        width="640" height="812" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>