<br>
<br>
<h1 class="is-1 title has-text-centered" id="services">Tu escuela online</h1>
<div class="columns has-text-centered">
    <div class="column">
        <img src="/images/lms.png" alt="">
    </div>
    <div class="column">
        <br>
        <h1 class="is-2 title">C&oacute;mo funciona?</h1>
        <p></p>
        <p class="subtitle feature-text">
            Utilizamos <a href="https://moodle.org">Moodle</a> para ofrecerte poder migrar tu escuela a la nube para
            poder mantener tus
            clases desde la
            comodidad y seguridad de tu
            hogar en estos tiempos dificiles. Nuestro sistema cuenta con servidores de alta gama listos para recibir un
            tr&aacute;fico de estudiantes online.
        </p>

        <a href="https://school.chalkbyte.com" class="button is-primary is-large"><i class="fas fa-cloud pr-2"></i>Ver
            demo</a>
    </div>
</div>
<br>
<br>
<div class="columns has-text-centered">
    <div class="column">
        <br>
        <h1 class="is-2 title">Gestion de usuarios</h1>
        <p></p>
        <p class="subtitle feature-text">
            Cada miembro de tu escuela ya sea maestro o alumno, contara con una cuenta en nuestra plataforma para
            acceder
            a sus clases y realizar sus actividades.
            <br>
            Tu tendras control total sobre estas cuentas y podras ver reportes de cualquier actividad realizada en la
            plataforma.
        </p>
    </div>

    <div class="column">
        <img src="/images/students.png" alt="">
    </div>
</div>
<br>
<br>
<div class="columns has-text-centered">
    <div class="column">
        <img src="/images/effective-virtual-trainings.png" alt="">
    </div>
    <div class="column">
        <br>
        <h1 class="is-2 title">Clases en vivo</h1>
        <p></p>
        <p class="subtitle feature-text">
            Entendemos que en estos momentos es crucial poder ofrecer clases en vivo a tus alumnos y maestros. Contamos
            con una plataforma para video llamadas integrada a tu escuela online para que tus maestros y alumnos se
            puedan comunicarse sin problemas.
        </p>
    </div>
</div>
<br>
<br>
<div class="columns has-text-centered">
    <div class="column">
        <br>
        <h1 class="is-2 title">App M&oacute;vil</h1>
        <p></p>
        <p class="subtitle feature-text">
            La plataforma escolar puede ser accesada sin problema desde cualquie dispositivo m&oacute;vil sin problemas.
            Los maestros pueden agregar y calificar contenido de su clases asi como los alumnos pueden realizar tareas y
            navegar entre sus diferentes contenidos de clase.
        </p>
    </div>
    <div class="column">
        <img src="/images/phone.png" alt="">
    </div>
</div>
<br>
<br>
<div class="columns has-text-centered">
    <div class="column">
        <img src="/images/server.png" alt="">
    </div>
    <div class="column">
        <br>
        <h1 class="is-2 title">Servidores Optimizados</h1>
        <p></p>
        <p class="subtitle feature-text">
            Utilizamos <a href="https://en.wikipedia.org/wiki/Load_balancing_(computing)">Loadbalancing</a> integrado
            con <a href="https://microservices.io">microservicios</a> en nuestros servidores para brindarte productos
            escalables sin tener que procuparte por nada.
            <br>
            <br>
            Nuestros servidores y aplicaciones tambien cuentan con los certificados de seguridad mas recientes.
        </p>
        <a href="https://www.ssllabs.com/ssltest/analyze.html?d=school.chalkbyte.com"
            class="button is-primary is-medium"><i class="fas fa-shield-alt pr-2"></i>Haz
            la prueba</a>
    </div>
</div>