<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <div class="control level-item">
                <div class="tags has-addons">
                    <span class="tag is-dark">© sistmex</span>
                    <span class="tag is-info">2020</span>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/bulma.js"></script>
</footer>