<h1 class="is-1 title has-text-centered" id="">Aplicaciones en desarrollo</h1>
<div class="columns features">
    <div class="column is-6">
        <div class="card is-shady">
            <div class="card-image has-text-centered">
                <img class="lazy lazy-active" src="/images/video-conf.png" height="100px" />
            </div>
            <div class="card-content">
                <div class="content">
                    <h1 class="is-3 title">Video Conferencias</h1>
                    <p>
                        Contamos con <a href="https://jitsi.org/">Jitsi</a>, un sistema online totalmente
                        mantenido por la
                        comunidad para proveer video conferencias a un costo muy bajo, capaz de competir con
                        otras
                        alternativas online para tu empresa.
                    </p>
                    <p><a href="#">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
    {{!-- <div class="column is-4">
        <div class="card is-shady">
            <div class="card-image has-text-centered">
                <img class="lazy lazy-active" src="/images/effective-virtual-trainings.png" height="100px" />
            </div>
            <div class="card-content">
                <div class="content">
                    <h1 class="is-3 title">Tu escuela online</h1>
                    <p>
                        Ofrecemos migrar tu escuela a la nube para poder mantener tus clases desde la comodidad
                        y seguridad de
                        tu hogar en estos tiempos dificiles. Nuestro sistma cuenta con servidores de alta gama
                        listo para
                        recibir un trafico de estudiantes online.
                    </p>
                    <p><a href="#">Learn more</a></p>
                </div>
            </div>
        </div>
    </div> --}}
    <div class="column is-6">
        <div class="card is-shady">
            <div class="card-image has-text-centered">
                <img class="lazy lazy-active" src="/images/pay.png" height="100px" />
            </div>
            <div class="card-content">
                <div class="content">
                    <h1 class="is-3 title">Pagos online</h1>
                    <p>
                        Porque arriesgarte a realizar tus pagos en bancos u otros medios, si puedes hacerlos
                        totalmente online
                        desde cualquier parte con acceso a internet.
                    </p>
                    <p><a href="#">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
</div>