<section class="hero is-medium is-bold">
    <div class="hero-head">
        {{> nav}}
    </div>
    <div class="hero-body columns has-text-centered">
        <div class="hero-image column is-desktop">
            <img class="lazy lazy-active" src="/images/lms.png" height="100px" />
        </div>
        <div class="text-white column hero-right">
            <h1 class="text-white title is-1">
                Plataforma Escolar
            </h1>
            <h3 class="text-white subtitle is-2">Online</h3>
        </div>
    </div>
</section>