<br />
<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item logo" href="/">
                <strong>CHALKBYTE</strong>
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item is-active">
                    Inicio
                </a>
                <a href="#services" class="navbar-item">
                    Servicios
                </a>
                <a href="#team" class="navbar-item">
                    Equipo
                </a>
                <span class="navbar-item">
                    <a class="button is-primary" href="#contact">
                        <span class="icon">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span title="Hello from the other side">Contactanos</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</nav>