<div class="intro column is-8 is-offset-2" id="team">
    <h2 class="title">Somos un equipo de profesionales</h2>
    <br />
    <p class="subtitle">
        Tratamos de mantenernos a la par con las ultimas tecnologias de desarrollo de software y redes para
        proveer
        productos seguros, rapidos y eficientes.
    </p>
    <img src="/images/docker-friends.png" alt="" />
</div>