<section class="hero is-medium is-bold">
    <div class="hero-head">
        {{> nav}}
    </div>
    <div class="hero-body columns has-text-centered">
        <div class="hero-image column is-desktop">
            <img class="lazy lazy-active" src="/images/hero.png" height="100px" />
        </div>
        <div class="text-white column hero-right">
            <h1 class="text-white title is-1">
                Soluciones tecnol&oacute;gicas
            </h1>
            <h3 class="text-white subtitle is-2">para tu escuela</h3>
        </div>
    </div>
</section>
<div class="box cta">
    <p class="has-text-centered">
        <span class="tag is-primary">Nuevo</span> Tenemos paquetes nuevos para ayudarte a combatir el COVID-19
    </p>
</div>
<section class="container">
    {{> features}}
    <br>
    <br>
    <br>
    {{> future}}
    {{> team}}
    {{> contact}}
</section>

{{> footer}}