<section class="hero is-medium is-bold">
    <div class="hero-head">
        {{> nav}}
    </div>
    <div class="hero-body columns has-text-centered">
        <div class="hero-image column is-desktop">
            <img class="lazy lazy-active" src="/images/hero.png" height="100px" />
        </div>
        <div class="text-white column hero-right">
            <h1 class="text-white title is-1">
                Soluciones tecnol&oacute;gicas
            </h1>
            <h3 class="text-white subtitle is-2">para tu escuela</h3>
        </div>
    </div>
</section>
<div class="box cta">
    <p class="has-text-centered">
        <span class="tag is-primary">Nuevo</span> Tenemos paquetes nuevos para ayudarte a combatir el COVID-19
    </p>
</div>
<section class="container">
    <h1 class="is-1 title has-text-centered" id="services">Lo que tenemos para ti</h1>
    <div class="columns features">
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                    <img class="lazy lazy-active" src="/images/video-conf.png" height="100px" />
                </div>
                <div class="card-content">
                    <div class="content">
                        <h1 class="is-3 title">Video Conferencias</h1>
                        <p>
                            Contamos con <a href="https://jitsi.org/">Jitsi</a>, un sistema online totalmente
                            mantenido por la
                            comunidad para proveer video conferencias a un costo muy bajo, capaz de competir con
                            otras
                            alternativas online para tu empresa.
                        </p>
                        <p><a href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                    <img class="lazy lazy-active" src="/images/effective-virtual-trainings.png" height="100px" />
                </div>
                <div class="card-content">
                    <div class="content">
                        <h1 class="is-3 title">Tu escuela online</h1>
                        <p>
                            Ofrecemos migrar tu escuela a la nube para poder mantener tus clases desde la comodidad
                            y seguridad de
                            tu hogar en estos tiempos dificiles. Nuestro sistma cuenta con servidores de alta gama
                            listo para
                            recibir un trafico de estudiantes online.
                        </p>
                        <p><a href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                    <img class="lazy lazy-active" src="/images/pay.png" height="100px" />
                </div>
                <div class="card-content">
                    <div class="content">
                        <h1 class="is-3 title">Pagos online</h1>
                        <p>
                            Porque arriesgarte a realizar tus pagos en bancos u otros medios, si puedes hacerlos
                            totalmente online
                            desde cualquier parte con acceso a internet.
                        </p>
                        <p><a href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="intro column is-8 is-offset-2" id="team">
        <h2 class="title">Somos un equipo de profesionales</h2>
        <br />
        <p class="subtitle">
            Tratamos de mantenernos a la par con las ultimas tecnologias de desarrollo de software y redes para
            proveer
            productos seguros, rapidos y eficientes.
        </p>
        <img src="/images/docker-friends.png" alt="" />
    </div>
    <div class="intro column is-8 is-offset-2 is-block" id="contact">
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSfXMlrK2VlDjolgDoeRI9BSxRz5I4K4eRH47nQvwYQ0fcgN2A/viewform?embedded=true"
            width="640" height="812" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</section>

{{> footer}}